html {
  height: 100%;
  width: 100%; }
  html body {
    height: 100%;
    width: 100%;
    background-color: #1875e7; }

.jgsaw {
  margin:0 auto;
  background-color: red;
  border:5px solid rgba(112,120,119,0.7);
  border-radius:3px;
  width: 500px;
  clear: both;
  height: 280px;
  margin-top: 10px;
  position: relative;
  overflow: hidden; }

.jgsaw-1 img {
  position: absolute; }
.jgsaw-1 .jgsaw-img-1-1-width {
  width: 100%; }
.jgsaw-1 .jgsaw-img-1-1-height {
  height: 100%; }

.jgsaw-2 img {
  position: absolute;
  top: 0;
  left: 0; }
.jgsaw-2 .jgsaw-img-2-1-width {
  width: 100%; }
.jgsaw-2 .jgsaw-img-2-1-height {
  height: 100%; }
.jgsaw-2 .jgsaw-img-2-2-width {
  width: 100%; }
.jgsaw-2 .jgsaw-img-2-2-height {
  height: 100%; }

.jgsaw-3 .jgsaw-img-3-1-height {
  height: 100%; }
.jgsaw-3 .jgsaw-img-3-1-width {
  width: 360px; }
.jgsaw-3 .jgsaw-img-3-2-width, .jgsaw-3 .jgsaw-img-3-2-height {
  position: absolute;
  top: 0;
  right: 0; }
.jgsaw-3 .jgsaw-img-3-2-width, .jgsaw-3 .jgsaw-img-3-3-width {
  width: 140px; }
.jgsaw-3 .jgsaw-img-3-2-height, .jgsaw-3 .jgsaw-img-3-3-height {
  height: 50%; }
.jgsaw-3 .jgsaw-img-3-3-width, .jgsaw-3 .jgsaw-img-3-3-height {
  position: absolute;
  top: 50%;
  right: 0; }

.jgsaw-4 img {
  position: absolute; }
.jgsaw-4 .jgsaw-img-4-1-height, .jgsaw-4 .jgsaw-img-4-2-height, .jgsaw-4 .jgsaw-img-4-3-height, .jgsaw-4 .jgsaw-img-4-4-height {
  height: 50%; }
.jgsaw-4 .jgsaw-img-4-1-width, .jgsaw-4 .jgsaw-img-4-2-width, .jgsaw-4 .jgsaw-img-4-3-width, .jgsaw-4 .jgsaw-img-4-4-width {
  width: 50%; }
.jgsaw-4 .jgsaw-img-4-1-height, .jgsaw-4 .jgsaw-img-4-1-width {
  top: 0;
  left: 0;
  z-index: 0; }
.jgsaw-4 .jgsaw-img-4-2-height, .jgsaw-4 .jgsaw-img-4-2-width {
  top: 0;
  left: 50%;
  z-index: 1; }
.jgsaw-4 .jgsaw-img-4-3-height, .jgsaw-4 .jgsaw-img-4-3-width {
  top: 50%;
  left: 0;
  z-index: 1; }
.jgsaw-4 .jgsaw-img-4-4-height, .jgsaw-4 .jgsaw-img-4-4-width {
  top: 50%;
  left: 50%;
  z-index: 2; }

.jgsaw-5 img {
  position: absolute; }
.jgsaw-5 .jgsaw-img-5-1-height {
  height: 66.6666666%; }
.jgsaw-5 .jgsaw-img-5-1-width {
  width: 66.666666%; }
.jgsaw-5 .jgsaw-img-5-1-height, .jgsaw-5 .jgsaw-img-5-1-width {
  top: 0;
  left: 0;
  z-index: 0; }
.jgsaw-5 .jgsaw-img-5-2-width, .jgsaw-5 .jgsaw-img-5-2-height {
  top: 66.6666666%;
  left: 0;
  z-index: 1; }
.jgsaw-5 .jgsaw-img-5-2-width {
  width: 33.333333%; }
.jgsaw-5 .jgsaw-img-5-2-height {
  height: 33.333334%; }
.jgsaw-5 .jgsaw-img-5-3-height, .jgsaw-5 .jgsaw-img-5-3-width {
  top: 66.6666666%;
  left: 33.333334%;
  z-index: 2; }
.jgsaw-5 .jgsaw-img-5-3-width {
  width: 33.333333%; }
.jgsaw-5 .jgsaw-img-5-3-height {
  height: 33.333334%; }
.jgsaw-5 .jgsaw-img-5-4-height, .jgsaw-5 .jgsaw-img-5-4-width {
  top: 0;
  left: 66.66666%;
  z-index: 1; }
.jgsaw-5 .jgsaw-img-5-4-height {
  height: 100px; }
.jgsaw-5 .jgsaw-img-5-4-width {
  width: 33.33334%; }
.jgsaw-5 .jgsaw-img-5-5-width, .jgsaw-5 .jgsaw-img-5-5-height {
  left: 66.66666%;
  z-index: 3; }
.jgsaw-5 .jgsaw-img-5-5-width {
  width: 33.33334%; }

.jgsaw-6 img {
  position: absolute; }
.jgsaw-6 .jgsaw-img-6-1-width, .jgsaw-6 .jgsaw-img-6-1-height {
  top: 0;
  left: 0;
  z-index: 0; }
.jgsaw-6 .jgsaw-img-6-1-width {
  width: 66.666666%; }
.jgsaw-6 .jgsaw-img-6-1-height {
  height: 66.666666%; }
.jgsaw-6 .jgsaw-img-6-2-width, .jgsaw-6 .jgsaw-img-6-2-height {
  top: 66.666666%;
  left: 0;
  z-index: 1; }
.jgsaw-6 .jgsaw-img-6-2-width, .jgsaw-6 .jgsaw-img-6-3-width, .jgsaw-6 .jgsaw-img-6-4-width, .jgsaw-6 .jgsaw-img-6-5-width, .jgsaw-6 .jgsaw-img-6-6-width {
  width: 33.33334%; }
.jgsaw-6 .jgsaw-img-6-2-height, .jgsaw-6 .jgsaw-img-6-3-height, .jgsaw-6 .jgsaw-img-6-4-height, .jgsaw-6 .jgsaw-img-6-5-height, .jgsaw-6 .jgsaw-img-6-6-height {
  height: 33.33334%; }
.jgsaw-6 .jgsaw-img-6-3-width, .jgsaw-6 .jgsaw-img-6-3-height {
  top: 66.666666%;
  left: 33.33334%;
  z-index: 2; }
.jgsaw-6 .jgsaw-img-6-4-width, .jgsaw-6 .jgsaw-img-6-4-height {
  top: 0;
  left: 66.666666%;
  z-index: 1; }
.jgsaw-6 .jgsaw-img-6-5-width, .jgsaw-6 .jgsaw-img-6-5-height {
  top: 33.333334%;
  left: 66.6666666%;
  z-index: 2; }
.jgsaw-6 .jgsaw-img-6-6-width, .jgsaw-6 .jgsaw-img-6-6-height {
  top: 66.666666%;
  left: 66.666666%;
  z-index: 3; }

/*# sourceMappingURL=main.css.map */
